name: test on Linux
on:
  pull_request:
    branches:
      - main
      - dev
    paths:
      - "validatable/**"
      - "tests/**"
      - ".github/workflows/test_linux.yml"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test-linux:
    name: test py${{ matrix.python-version }} on linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10.0-rc.2"]
    env:
      PYTHON: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v2

      - name: set up python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: install
        run: |
          make install
          pip freeze

      - name: test
        env:
          COVERAGE_FILE: coverage/.coverage.linux-py${{ matrix.python-version }}
        run: |
          make test

      - name: coverage files
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: coverage
  coverage:
    needs: test-linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v1
        with:
          python-version: "3.9"

      - name: download coverage files
        uses: actions/download-artifact@v2
        with:
          name: coverage
          path: coverage

      - run: pip install coverage[toml]
      - run: ls -la coverage/
      - run: coverage combine coverage
      - run: coverage report
      - run: coverage html -d cov
      - run: coverage json -o cov/coverage.json

      - name: gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./cov
          destination_dir: validatable/coverage
