name: Test MacOS
on:
  push:
    branches:
      - main
    paths:
      - "validatable/**"
      - "tests/**"

jobs:
  test-mac:
    name: test py${{ matrix.python-version }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos]
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10.0-rc.2"]
    env:
      PYTHON: ${{ matrix.python-version }}
      OS: ${{ matrix.os }}

    runs-on: ${{ format('{0}-latest', matrix.os) }}
    steps:
      - uses: actions/checkout@v2

      - name: set up python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: install
        run: |
          make install
          pip freeze

      - name: test
        run: |
          make test

      - name: coverage
        run: |
          make cov
